<template>
  <Renderer
    ref="renderer"
    antialias
    :orbit-ctrl="{ enableDamping: true }"
    resize="window"
  >
    <Camera :position="{ z: 40 }" />
    <Scene>
      <PointLight :position="{ y: 0, z: 100 }" />
      <Box
        v-for="index in 1000"
        :key="index"
        :size="1"
        ref="box"
        :rotation="{ y: Math.PI / 1, z: Math.PI / 4 }"
        :position="{
          x: Math.random() * 10,
          y: Math.random() * 10,
          z: 0,
        }"
      >
        <LambertMaterial />
      </Box>
    </Scene>
    <div ref="buttons"></div>
  </Renderer>
</template>

<script lang="ts">
import { defineComponent } from "vue";
import {
  Box,
  Camera,
  LambertMaterial,
  MeshPublicInterface,
  PointLight,
  Renderer,
  RendererPublicInterface,
  Scene,
} from "./export";

export default defineComponent({
  components: { Box, Camera, LambertMaterial, PointLight, Renderer, Scene },
  mounted() {
    const renderer = this.$refs.renderer as RendererPublicInterface;
    const mesh = (this.$refs.box as MeshPublicInterface).mesh;
    console.log(this.$refs.box);

    // if (renderer && mesh) {
    // console.log("asd");
    renderer.onBeforeRender(() => {
      // console.log("s");
      // mesh.map(function (value, key) {
      // mesh.rotation.x += 0.01;
      // value.rotation.y += 0.01;
      // });
      console.log(mesh);
      // mesh.rotation.x += 0.01;
      // mesh.rotation.y += 0.01;
    });
    // }
  },
});
</script>

<style>
body,
html {
  margin: 0;
}
canvas {
  display: block;
}
</style>
